body{
	font-family: "Segoe UI", sans-serif;
}

.group:before,
.group:after{
	content: " ";
	display: table;
}
.group:after{
	clear: both;
}

.group{
	*zoom: 1;
}

.float-left{
	float: left;
}

.float-right{
	float: right;
}

.squeeze{
	max-width: 1100px;
	width: 90%;

	margin: auto;
}

.logo-ms{
	height: 100px;
	position: relative;
	right: 33px;
}

header h1{
	margin: 30px 0;
	color: #737373;
}

nav{
	background: #222;
}

.navlinks{
	padding-top: 25px;
	padding-bottom: 25px;
}

.navlinks a{
	display: inline-block;
	padding-right: 50px;
}

.navicon{
	padding-top: 20px;
}

.navicon i{
	color: white;
	padding-left: 25px;
}

nav a{

	color: white;
	text-decoration: none;
	font-size: 1.35rem;
}
 
nav a:hover{
	color: #7BBF32;
}

nav a i:hover{
	color: #aaaaaa;
}

.pos-rel{
	position: relative;
}

main h1{
	font-weight: normal;
	color: #fff;
	background: #7BBF32;
	display: inline-block;
	padding: 25px;
	border-radius: 20px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	-ms-border-radius: 20px;
	-o-border-radius: 20px;
	font-size: 3rem;
}

main p{
	color: #202020;

	font-size: 1.14rem;
	line-height: 1.5;
	text-align: justify;
}

.background-logo{
	position: absolute;
	right: 20px;
	bottom: -50px;
	height: 400px;
	z-index: -1000;
}

footer{
	background-color: #f2f2f2;
	width: 100%;
	position: fixed;
	bottom: 0;
}

footer img{
	height: 90px;
}

footer h3{
	padding: 15px 0;
	font-weight: 200;
	color: #505050;
}

.stc{
	display: none;
}

@media (max-width: 1050px) {
	.navlinks a{
		padding-right: 25px;
	}
}
@media (max-width: 880px) {
	.navicon{
		display:none;
	}
	.navlinks{
		float: none;
		text-align: center;
	}
}

@media (max-width: 799px) {
	.navlinks a{
		display: block;
		padding-right: 0px;
		
	}

	.navlinks a::before{
		content: "• ";
	}

	.navlinks{
		float: none;
		text-align: left;
	}

	h1{
		padding-top: 9px;
		font-size: 1.5rem;
	}
	main{
		text-align: center;
	}
}

@media (max-width: 690px) {
	main p{
		text-align: justify;
	}
	.stc{
		display: block;
	}
	.stc-hide{
		display: none;
	}
	main h1{
		font-size: 2rem;
	}
}

#photo{
	margin: 10px auto 0px;
	height: 300px;
	width: auto;
}

#output{
	text-align: center;
}

#img_data{
	display: none;
	font-weight: bold;
	text-align: center;
}

.vysledky{

	color: #222;

	background: #e6e6e6;

	border-radius: 15px;
	padding: 25px;
}

hr{
	margin: 25px;
	border: none;
	border-bottom: dotted 15px;
	width: 100px;
}

h2{
	margin-top: 0;
}

.spacer{
	height: 100px;
}

h1{
	margin-bottom: 0px;
}

a{
	color: #7BBF32;
}
.ai-button{
	display: inline-block;
	text-align: center;
	background: #e6e6e6;
	padding: 20px;
	border-radius: 15px;

	margin: 15px;
}

a{
	text-decoration: none;
	color: #202020;
}